.cx-1{
    background: yellow;
    height: 52PX;
}

.cx-2{
    background:rgb(219, 219, 3) ;
    height: 52PX;
}

.cx-3{
    background:rgb(187, 187, 4) ;
    height: 52PX;
}

.cx-4{
    background: orange;
    height: 52PX;
}

.cx-5{
    background:rgb(204, 134, 5) ;
    height: 52PX;
}

.cx-6{
    background: rgb(155, 102, 4);
    height: 52PX;
}

.cx-7{
    background:brown ;
    height: 52PX;
}

.cx-8{
    background:rgb(167, 18, 18) ;
    height: 52PX;
}

.cx-9{
    background:rgb(143, 3, 3) ;
    height: 52PX;
}

.cx-10{
    background: green;
    height: 52PX;
}

.cx-11{
    background:rgb(3, 99, 3) ;
    height: 52PX;
}

.cx-12{
    background: rgb(5, 80, 5);
    height: 52PX;
}

.cx-13{
    background: rgb(87, 87, 209);
    height: 52PX;
}

.cx-14{
    background: rgb(37, 37, 211);
    height: 52PX;
}

.cx-15{
    background: rgb(5, 5, 158);
    height: 52PX;
}

.cx-16{
    background:rgb(168, 113, 223) ;
    height: 52PX;
}

.cx-17{
    background:rgb(156, 76, 236);
    height: 52PX;
}

.cx-18{
    background:rgb(126, 17, 235) ;
    height: 52PX;
}

.cx-19{
    background:rgb(233, 106, 106) ;
    height: 52PX;
}

.cx-20{
    background: rgb(232, 53, 53);
    height: 52PX;
}

.cx-21{
    background: red;
    height: 52PX;
}