body{
    background-color: #dee4e4;
}


h1{
    background-color: #2e8049be;
    color:white;  
}


#basico{
    color:#D9C971;
    background-color: #dee4e4;
}


.basico{
    color:#D95BB1 ;
}


.intermediario{
    color: #45D5D9;
}

h3{
    font-size: 14px;
    text-align: center;
    padding: 30px;
}


.destaque{
    background-color: yellowgreen;
}