body{
    background-color:#536F38;
    font-family: Arial, Helvetica, sans-serif;
    
}

.menu{
    color:darkmagenta;
    text-decoration: none;
    font-weight: bold;
}

.menu:visited{
    color: black;
}

.menu:hover{
    color: red;
    text-decoration:none;
}

.menu:active{
    color:greenyellow;
}

.menu::before{
    content:'link ⇢ ';
    color: blue;
    font-size: 14px;
}

.menu::after{
    font-size: 13px;
    color:rgba(61, 61, 236, 0.801);
}



h1{
    text-align: center;
    color:rgba(0, 0, 0, 0.63);
    font-size: 55px;
    text-shadow: rgb(12, 15, 2) 3px 3px 1px, #0a853f -2px -2px 1px;
    text-shadow: #0eff06f1 1px 1px 1px, #0a853fd2 -2px 2px 2px;
    text-shadow: #0ae227d2 1px 1px 2px, #0a853fd2 -2px 2px 1px;
    background-color:#536F38;
}

h2{
    color:rgb(6, 6, 119);
    font-size: 25px;
}

h3{
    color:white;
    font-size: 21px;
}
h4{
    color:white;
    font-size: 18px;
}

h5{
    color:black;
    font-size: 18px;
}

ol{
    color:white;
    font-size: 18px;
}

ul{
    color: white;
    font-size: 18px;
}
dl{
    color: white;
    font-size: 18px;
}

a{
    color:black;
    font-weight: bold;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif
}

li{
    color:black;
    font-size: 18px;
    font-weight: bolder;
}

mark{
    background-color:#536F38;
    color:black;
    font-size: 21px;
}

xmp{
    
    background-color:#536F38;
    color:black;
    font-size: 18px;
}
img{
    display: inline-block;
    width: 130px;
    height: 100px;
}
figure.modelo_caixa{
    width: 300px;
    height: 300px;
}

 

p{
    família de fontes: 'Great Vibes', cursiva;
    família da fonte: 'Tangerine', cursiva;
    color:white;
    font-size: 17px;
    blockquote{
    color: white;
}

pre{
    color: white;
}

