*{
    margin: 0px;
    padding: 0px;
}
/*Pagina Principal*/
body{
    background-color:rgb(187, 186, 186);
    width: 100%vh;
    height: 100%vh;
}
/*Conteudo principal 2div 3fotos e texto*/
body > main > article{
    background-color:rgb(201, 199, 199);
    /*background-color:rgb(170, 166, 166);*/
    padding: 0px;
    height: 290px;
}
body > main > .artFoto3 {
    position: absolute;
    top: 715px;
    background-color: white;
    margin-left: 60px;
    margin-right: 60px;
    padding-top: 30px;
    padding-bottom: 15px;
    height: 150px;
    width: 1140px;
    height: 220px;
}
body > main > .artFoto3 > .fotoEmlinha .seletores p{
    background-color:gray;
    width: 360px;
    height: 30px;
    text-align: center;
    padding-top:30px;
    position: absolute;
    right:383px ;
    top: 175px;
    color: white;
}
body > main > .artFoto3 > .fotoEmlinha .seletores {
    height: 165px;
    width: 360px;
    position: absolute;
    right: 383px;
    top: 10px;
}
body > main > .artFoto3 > .fotoEmlinha .posicionamento p{
    background-color:gray;
    width: 360px;
    height: 30px;
    text-align: center;
    padding-top:30px;
    position: absolute;
    right: 196px;
    top: 175px;
    color: white;
}
body > main > .artFoto3 > .fotoEmlinha .posicionamento {
    height: 165px;
    width: 360px;
    position: absolute;
    right: 196px;
    top: 10px;
}
body > main > .artFoto3 > .fotoEmlinha .fontes p{
    background-color:gray;
    width: 360px;
    height: 30px;
    text-align: center;
    padding-top:30px;
    position: absolute;
    right: 9px;
    top: 175px;
    color: white;
}
body > main > .artFoto3 > .fotoEmlinha .fontes {
    height: 165px;
    width: 360px;
    position: absolute;
    right: 9px;
    top: 10px;
}
body > main > .artTexto {
    position: absolute;
    top: 996px;
    background-color: white;
    margin-left: 60px;
    margin-right: 60px;
    padding-top: 0px;
    padding-bottom: 30px;
    width: 1140px;
    height: 220px;
}
body > main > .artTexto > .tituloDiv_h2{
    margin: 15px;
    box-shadow: 0px 3px 2px rgb(187, 186, 186);
    background-color:rgba(192, 190, 190, 0.603);
    font-size: 30px;
    text-align: center;
}
body > main > .artTexto > p {
    margin-left: 15px;
    padding-top: 30px;
    font-size: 20px;
    line-height: 1.5;
}