
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: beige;
    margin: 20px;
    border: double 5px red;
    height: 1050px;
}
h1{

}
h2{

}
div{
    background-color: antiquewhite;
    width:200px ;
    height: 200px;
    border: ridge 10px white;

}